main {
  h1,
  .description {
    text-align: center;
  }
}

.sort-options {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: 30%;
    color: #2c5aa0;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 4px;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.1rem;
    transition: transform 0.3s ease;

    &:hover {
      background: #f0f4f8;
    }

    &.active {
      transform: scale(1.05);
      background: #2c5aa0;
      color: white;
    }
  }
}

.faculty-list {
  display: grid;
  gap: 1.5rem;
  max-width: 800px;
  margin: 2.8rem auto;

  .faculty-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    padding-left: 2.5rem;
    background: #fff;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h3 {
      margin: 0 0 0.5rem 0;

      a {
        color: #2c5aa0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home-navigation {
  padding: 1rem;
  border: 1px solid gray;
  background-color: #2c5aa0;
  border-radius: 4px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  &:hover a {
    color: #2c5aa0;
  }
}

/* details page  */
.faculty-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  padding-left: 2.5rem;
  background: #fff;
  transition: box-shadow 0.2s ease;
  max-width: 800px;
  margin: 1.5rem auto;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
