main {
  h1,
  .description {
    text-align: center;
  }
}

.sort-options {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;

  .sort-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    a {
      color: #2c5aa0;
      text-decoration: none;
      border-radius: 4px;
      text-align: center;
      font-size: 1.1rem;
      transition: transform 0.3s ease;
      padding: 0.3rem 0.8rem;

      &:hover {
        background: white;
      }

      &.active {
        transform: scale(1.05);
        background: #2c5aa0;
        color: white;
      }
    }
  }
}

.faculty-list {
  display: grid;
  gap: 1.5rem;
  max-width: 800px;
  margin: 2.8rem auto;

  .faculty-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    padding-left: 2.5rem;
    background: #fff;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h3 {
      margin: 0 0 0.5rem 0;

      a {
        color: #2c5aa0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home-navigation {
  padding: 1rem;
  border: 1px solid gray;
  background-color: #2c5aa0;
  border-radius: 4px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  &:hover a {
    color: #2c5aa0;
  }
}

/* details page  */
.faculty-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  padding-left: 2.5rem;
  background: #fff;
  transition: box-shadow 0.2s ease;
  max-width: 800px;
  margin: 1.5rem auto;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-top: 0;
    border-bottom: 4px solid rgb(58, 58, 88);
    padding-bottom: 0.5rem;
  }
}
