html,
body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.25;
}

body {
  nav {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline;
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;

      &:hover {
        color: #0066cc;
      }
    }
  }

  .info-container {
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: rgb(195, 228, 217);
    border-radius: 10px;
    transition: transform 0.4s ease;

    &:hover {
      transform: translateY(-5px);
    }

    h2 {
      text-align: center;
    }

    ul {

        list-style: none;

      li {
        padding-bottom: 0.5rem;
      }
    }

    img {
      width: 200px;
      height: 250px;
      object-fit: cover;
      display: block;
      margin: 0.5rem auto;
      border-radius: 5px;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

@media (min-width: 700px) {
  .info-container {
    width: 600px;
    margin: 3rem auto 0 auto;
  }
}
